<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomKit</title>
</head>
<body style="background:#145DA8">
    <center>
        <div style="background:white;width:1000px;padding:50px;box-shadow: 0px 0px 20px black;border-radius: 25px">
            <img src="https://github.com/dali-lab/RoomKit/raw/master/icon/iconWithNameSmall.png">
            <h1>Description</h1>

            <p>RoomKit is a framework for iOS that will allow a user to interface with this machine learning server.
            This server accepts, once authenticated and configured, data on Bluetooth beacon strength data to generate a
            Neural-Network "map" of the space. Thus the same kind of data can be used by the generated map to predict the
            room a device is in.</p>
        </div>
    </center>
</body>
</html>